<!-- AminoAcid Alignment View - Hustle the aminos :) -->
<h2>Protein alignment</h2>
<p>
	<div class="alignment-navigation">
		<div style="float:left; text-align:left;">
		  <a class="page-change-left prev browse left" title="Previous 80">&#9664;&#9664;</a>&nbsp;<a href="" title="Previous 20">&#9664;</a>
		</div>
        <div style="text-align:right;">
          <a href="" title="Next 20">&#9654;</a>&nbsp;<a class="page-change-right next browse right" title="Next 80">&#9654;&#9654;</a>
        </div>
	</div>

	<!--<div class="wrap" style="overflow: auto">-->
	  <!--<div id="additional_information_alignment" class="additional_information" style="display: block;">-->
	    <!-- <textarea class="code" readonly="readonly"><%#= data.seq_text %></textarea> -->
	    <!-- "prev page" action -->
	    <!--<a class="prev browse left">left</a>-->

	    <!-- root element for scrollable -->
	    <div id="scrollable_alignment" class="scrollable box info">
	      <!--<div class="items">-->
			<%= make_alignment(@protein_alignment_sequences) %>
	        <%= make_alignment(@protein_alignment_sequences) %>
	        <%= make_alignment(@protein_alignment_sequences) %>
	      <!--</div>-->
	    </div>

	    <!-- "next page" action -->
	    <!--<a class="next browse right">right</a>-->
	  <!--</div>-->
	<!--</div>-->

</p>

