{% extends "layout.html" %}
{% block body %}

    <div class="page-header" style="margin-top: 12px; border-bottom-color: #fff;"></div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Contact Information</h3></div>

        <!-- List group -->
        <ul id="emplyee_data" class="list-group">
        {% for person in responsibles %}

            <li class="list-group-item">
              <div class="media">
                <div class="media-left">
                  <div class="circular" style="background: url({{ person.img }}) no-repeat;">
                  </div>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><strong>{{ person.title }} {{ person.prename }} {{ person.surname }}</strong></h4>
                  <div id="employee_data">
                    <p id="employee_contact"></p>
                    <div class="phone_numbers">
                      <h5>Telephone number:</h5>
                      <ul>
                        <li><span class="glyphicon glyphicon-earphone adjust_glyphs_pos" aria-hidden="true"></span><a href="tel:{{ person.tel_tech }}" class="tel">{{ person.tel_human }}</a></li>
                      </ul>
                    </div>
                    <div class="fax_numbers">
                      <h5>Fax number:</h5>
                      <ul>
                        <li><span class="glyphicon glyphicon-phone-alt adjust_glyphs_pos" aria-hidden="true"></span><span class="tel">{{ person.fax }}</span></li>
                      </ul>
                    </div>
                    <div class="emails">
                      <h5>E-Mail:</h5>
                      <ul>
                        <li><span class="glyphicon glyphicon-envelope adjust_glyphs_pos" aria-hidden="true"></span><a href="mailto:{{ person.mail }}" title="{{ person.mail }}">{{ person.mail }}</a></li>
                      </ul>
                    </div>
                    <div class="OE">
                      <h5>Organisation:</h5>
                      <ul>
                        <li><span class="glyphicon glyphicon-briefcase adjust_glyphs_pos" aria-hidden="true"></span>{{ person.inst }}<br>{{ person.oa }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>

        {% endfor %}
        </ul>

    </div>

{% endblock %}
