{% extends "_heprex_gui.html" %}
{% block cu %}


  <div class="tile" class="fancybox-gallery" alt="Codon usage" width="240px" style="float: left;" >

<pre>

UUU  7.5(     5)  UCU 13.5(     9)  UAU 12.0(     8)  UGU  7.5(     5)
UUC 10.5(     7)  UCC  9.0(     6)  UAC  9.0(     6)  UGC 10.5(     7)
UUA  9.0(     6)  UCA  7.5(     5)  UAA  3.0(     2)  UGA  0.0(     0)
UUG 16.5(    11)  UCG  0.0(     0)  UAG  0.0(     0)  UGG 18.0(    12)

CUU 22.5(    15)  CCU 12.0(     8)  CAU 16.5(    11)  CGU  6.0(     4)
CUC 12.0(     8)  CCC  6.0(     4)  CAC 15.0(    10)  CGC  9.0(     6)
CUA 15.0(    10)  CCA 10.5(     7)  CAA 13.5(     9)  CGA  1.5(     1)
CUG 31.5(    21)  CCG  0.0(     0)  CAG 18.0(    12)  CGG  1.5(     1)

AUU 31.5(    21)  ACU 18.0(    12)  AAU 25.5(    17)  AGU 31.5(    21)
AUC 25.5(    17)  ACC 18.0(    12)  AAC 15.0(    10)  AGC 19.5(    13)
AUA  7.5(     5)  ACA  9.0(     6)  AAA 30.0(    20)  AGA  7.5(     5)
AUG 31.5(    21)  ACG  0.0(     0)  AAG 43.5(    29)  AGG  6.0(     4)

GUU 39.0(    26)  GCU 24.0(    16)  GAU 34.5(    23)  GGU 12.0(     8)
GUC 22.5(    15)  GCC 18.0(    12)  GAC 16.5(    11)  GGC 24.0(    16)
GUA 18.0(    12)  GCA 16.5(    11)  GAA 25.5(    17)  GGA 31.5(    21)
GUG 36.0(    24)  GCG  1.5(     1)  GAG 28.5(    19)  GGG  9.0(     6)

</pre>

  </div>


{% endblock %}
